/* Font Open Sans */
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

/* Font Playfair */
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair-VariableFont_opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/Playfair-Italic-VariableFont_opsz,wdth,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}


.fade-out-left {
    animation: slideOutLeft 0.3s forwards;
}

.fade-out-right {
    animation: slideOutRight 0.3s forwards;
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0;
    }
}